@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}

body{
    display: flex;
    height: 100vh;
}

.left-bg{  
    width: 40vw;
    height: 100vh;
    /* width: 50%; */
}

h1{
    color: #8E6447;
}

.img-logo{
    max-width: 50px;
}

.header-logo{
    margin-bottom: 20px;
    margin-top: 10px;
}
.right{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    margin-left: 100px;
}

.form-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    height: 80vh;
}
.r-btm{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.label-name{
    margin-top: 20px;
    margin-bottom: 10px;
}

input{
    outline: none;
}

input[type=text] {
    width: 50vw;
    box-sizing: border-box;
    border: 1px solid #989898;
    border-radius: 8px;
    font-size: 12px;
    background-image: url('/public/assets/img-icon/Profile.png');
    background-color: white;
    background-position: 8px 8px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

input[type=email] {
    width: 50vw;
    box-sizing: border-box;
    border: 1px solid #989898;
    border-radius: 8px;
    font-size: 12px;
    background-image: url('/public/assets/img-icon/Message.png');
    background-color: white;
    background-position: 8px 8px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

input[type=password] {
    width: 50vw;
    box-sizing: border-box;
    border: 1px solid #989898;
    border-radius: 8px;
    font-size: 12px;
    background-image: url('/public/assets/img-icon/Password.png');
    background-color: white;
    background-position: 8px 8px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

button{
    width: 50vw;
    border-radius: 8px;
    border: none;
    background-color: #FF8906;
    padding: 12px 20px 12px 40px;
    font-weight: bold;
}

a{
    color: #FF8906;
    text-decoration-line: none;
}

button:hover{
    background-color: #7d1f08;
    color: white;
}

.btm-box{
    display: flex;
    height: 6vh;
    width: 24vw;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(221, 221, 221);
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.login{
    align-self: center;
    height: 80vh;
}

.f-pwd{
    align-self: center;
    height: 60vh;
}

.bg-left{
    width: 500px;
    min-height: 100vh;
    background-repeat: no-repeat;
    /* width: 30vh; */
}

@media screen and (max-width: 768px) {
    body{
        width: 100vw;
    }
    .bg-left{
        display: none;
    }
    .left-bg{
        display: none;
    }
    .r-btm{
        display: flex;
        flex-direction: column;
        font-size: 0.7rem;
    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
}