header{
    display: flex;
    justify-content: space-between;
    padding: 0px 130px;
    background-color: #0B0909;
    width: 100vw;
    min-height: 78px;
}
header .header1{
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
}

header .header2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
}

header p{
    padding-left: 50px;
}

header a{
    color: white;
    text-decoration-line: none;
}

header .button1{
    width: 92px;
    height: 48px;
    border-radius: 5px;
    padding: 12px 18px;
    text-align: center;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #0B0909;
    cursor: pointer;
}

header .button2{
    width: 92px;
    height: 48px;
    border-radius: 5px;
    padding: 12px 18px;
    text-align: center;
    border: none;
    background-color: #FF8906;
    cursor: pointer;
}

.header2 img{
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    header{
        display: none;
    }
}
